@charset "UTF-8";

/* Mobile até 480px*/
/* Mobile grande 481px – 767px*/
/* Tablet 768px – 1024px*/
/* Desktop 1025px – 1920px*/
/* Desktop grande / TV acima de 1920px*/

@media print { /* Impressão */
    * {
        font-family: 'Courier New', Courier, monospace;
        color: black;
        text-shadow: none;
    }

    main {
        border: 2px solid black;
    }
    
    main::after {
       content: 'Feito por Cavalcanteee';
       padding-top: 20px;
       display: block;
       text-align: left;
       text-shadow: none;
       color: black;
       
    }

    img#celular { display: none; }
    img#tablet { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
    img#print { display: block; }
}

@media (min-width: 768px) and (max-width: 1023px) { /* Tablet */
    body {
        background-image: url(../../img/back-tablet.jpg);
    }
    img#celular { display: none; }
    img#tablet { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
    img#print { display: none; }
}

@media (min-width: 1024px) and (max-width: 1920px) { /* Desktop */
    body {
        background-image: url(../../img/back-pc.jpg);
    }
    img#celular { display: none; }
    img#tablet { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
    img#print { display: none; }
}

@media (min-width: 1920px) { /* Desktop grandes */
    body {
        background-image: url(../../img/back-tv.jpg);
    }
    img#celular { display: none; }
    img#tablet { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
    img#print { display: none; }
}


