* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Sriracha;
    src: url(fonts/Sriracha-Regular.ttf);
}
@font-face {
    font-family: PassionOne;
    src: url(fonts/PassionOne-Regular.ttf);
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px 0;
    margin: 0;
}

header > h1 {
    font: 100px "PassionOne", sans-serif;
}
header > p {
    font: lighter 25px Arial, Helvetica, sans-serif;
}

main {
    font-size: 50px;
    font-family: "Sriracha", sans-serif;
}

section {
    padding: 150px 0;
}

section > p {
    padding-left: 50px;
}

.transparente {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0 10px 10px 0;
    padding: 80px 50px;
}

#fundo {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imagem1 {
    background-image: url(img/background001.jpg);
}

.imagem2 {
    background-image: url(img/background002.jpg);
}

footer {
    background-color: black;
    padding: 30px;
    color: white;
    text-align: center;
    font: lighter 24px Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 5px;
    transition-duration: 0.4s;
}

