body {
    background-image: url(img/espaco.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    width: 100%;
}

img {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

