@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(197, 197, 197);
}

header {
    background-color: gray;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
}

header > h1 {
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 10px;
}

nav > a {
    display: block;
    width: 90vw;
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 7px;

}

nav > a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: .3s;
}

main {
    background-color: white;
    margin: auto;
    width: 90vw;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
