* {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    color: black;
}

h1 {
    padding: 20px;
    font-size: 50px;
}

nav {
    display: none;
}

p {
    padding: 20px 30px;
    text-indent: 40px;
    text-align: justify;
    line-height: 1.5em;
}

article::after {
    content: 'Esse artigo foi criado por Cavalcanteee';
}
