* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: gray;
    text-align: center;
    color: white;
}

h1 {
    padding: 20px;
    font-size: 50px;
}

nav {
    padding-bottom: 20px;
}

a {
    color: white;
    text-decoration: none;
    padding: 8px;
    font-size: 20px;
}

a:hover {
    background-color: white;
    border-radius: 10px;
    color: black;
}

p {
    padding: 20px 30px;
    text-indent: 40px;
    text-align: justify;
}

